        .container {
            position: relative;
        }
        
        .header {
            font-size: 200%;
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            text-align: center;
            top: 17%;
            left: 40%;
            color: aliceblue;
        }
        
        body {
            margin: 0;
        }
        
        .header-img {
            height: 220px;
            width: 100%;
        }
        
        .top-left {
            position: absolute;
            top: 15%;
            left: 57%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 120%;
        }
        
        .test-image {
            width: 30%;
            height: 200px;
            margin-left: 20%;
        }
        
        .submit-button {
            color: black;
            font-size: 18px;
            background-color: #C0C0C0;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 6px;
            margin-bottom: 1em;
            margin-top: 1em;
        }
        
        .result-table {
            width: 400px;
            border: 3px solid grey;
            margin: auto;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            background-color: #C0C0C0;
            padding-bottom: 25px;
        }
        
        .images_approximation {
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
        }
        
        .test-image:hover {
            transform: scale(1.3);
        }
        
        .topnav {
            background-color: white;
            overflow: hidden;
        }
        
        .topnav a {
            float: left;
            color: #352f2f;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
        
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .topbutton {
            width: 80px;
            border: 2px solid #ccc;
            background: #f7f7f7;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 50px;
            right: 50px;
            cursor: pointer;
            color: #333;
            font-family: Verdana;
            font-size: 12px;
            border-radius: 5px;
            display: block;
        }
        
        .topbutton-mobil {
            display: none;
        }
        
        iframe {
            border-width: 0px;
            width: 100%;
        }
        
        @media screen and (max-width: 481px) {
            .container {
                position: relative;
            }
            .header {
                font-size: 170%;
                font-family: Arial, Helvetica, sans-serif;
                position: absolute;
                text-align: center;
                top: 11%;
                left: 23%;
                color: white;
            }
            .header-img {
                height: 100px;
                width: 100%;
            }
            body {
                margin: 0;
            }
            .top-left {
                position: absolute;
                top: 15%;
                left: 62%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 120%;
                line-height: 180%;
            }
            .test-image {
                width: 60%;
                height: 200px;
                margin-left: 2px;
            }
            .submit-button {
                color: black;
                font-size: 35px;
                background-color: #C0C0C0;
                font-family: Arial, Helvetica, sans-serif;
                border-radius: 6px;
                margin-bottom: 1em;
                margin-top: 1em;
            }
            .result-table {
                width: 96%;
                border: 3px solid grey;
                margin: auto;
                line-height: 180%;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
                background-color: #C0C0C0;
                padding-bottom: 25px;
            }
            .images_approximation {
                display: flex;
                width: 100vw;
                justify-content: center;
                align-items: center;
            }
            .test-image:hover {
                transform: scale(1.3);
            }
            .topnav {
                background-color: white;
                overflow: hidden;
            }
            .topnav a {
                float: left;
                color: #352f2f;
                text-align: center;
                padding: 10px;
                text-decoration: none;
                font-size: 15px;
            }
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }
            .topbutton-mobil {
                width: 30px;
                border: 2px solid #ccc;
                background: #f7f7f7;
                text-align: center;
                padding: 10px;
                position: fixed;
                bottom: 50px;
                right: 50px;
                cursor: pointer;
                color: #333;
                font-family: Verdana;
                font-size: 12px;
                border-radius: 5px;
                display: block;
            }
            .topbutton {
                display: none;
            }
        }