.container {
    position: relative;
}

.header {
    font-size: 200%;
    position: absolute;
    text-align: center;
    top: 7%;
    left: 40%;
}

.header-img {
    width: 100%;
    height: 150px;
}

.home {
    position: absolute;
    top: 2%;
    left: 2%;
}

.top-left {
    position: absolute;
    top: 15%;
    left: 57%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%
}

.test-image {
    width: 30%;
    height: 200px;
}

.test_text {}