.container {
    position: relative;
}

.header-image {
    height: 220px;
    width: 100%;
}

.top-left {
    position: absolute;
    top: 20%;
    left: 2%;
    color: white;
    font-family: 'Permanent Marker', cursive;
    /* font-family: Cezanne, Helvetica, sans-serif; */
    font-size: 125%;
}

.text-center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}